.container {
    width: 936px;
    margin: 0 auto;
    padding: 0 15px;
outline: 1px solid red;
}

/* header content */


.header {
    margin-top: 71px;
    margin-bottom: 92px;
}

.header__nav {
   
}

.header__nav__list {
    display: flex;
    gap: 99px;
    justify-content: center;

}

.header__nav__link {
    color: #7D7D7D;

    font-family: Playfair Display;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__nav__link:hover,
.header__nav__link:focus {}




/* main content */

.blog__list {
    display: flex;
    flex-wrap: wrap;
    gap: 130px 65px;

}

.blog__item {
    flex-basis: calc((100% - 65px) / 2);
}

.blog__item__img {
 margin-bottom: 32px;


}

.blog__item__subtitle {
    color: #B4AD9E;

    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 32px;
}

.blog__item__title {
    color: #626262;

    font-family: Playfair Display;
    font-size: 30px;
    font-weight: 400;
}

.blog__item__text {
    color: #626262;

    font-family: Playfair Display;
    font-size: 14px;
    font-weight: 400;
    margin-top: 40px;

}

.blog__button {

font-family: 'Playfair Display', serif;
font-size: 14px;
font-weight: 400;
width: 165px;
height: 60px;
border: 1px solid #626262;
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
margin-top: 90px;
margin-bottom: 66px;


}